name: PR Comment

on:
  workflow_run:
    workflows: ["Check certificates"]
    types:
      - completed

env:
  GITHUB_TOKEN: ${{ github.token }}

jobs:
  comment:
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write
      actions: read

    steps:
      - name: Download test results
        uses: dawidd6/action-download-artifact@v6
        with:
          workflow: main.yml
          name: test-results 
          path: ./test-results
          workflow_conclusion: success  

      - name: Read results
        id: read
        run: |
          echo "RESULT=$(cat test-results/results.txt)" >> $GITHUB_ENV

      - name: Post PR comment
        uses: actions/github-script@v7
        with:
          script: |
            const pr = context.payload.workflow_run.pull_requests[0];
            if (!pr) {
              console.log("No PR associated with this workflow_run. Skipping comment.");
              return;
            }

            const body = process.env.RESULT;

            await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: pr.number,
              body
            });
