name: PR Comment

on:
  workflow_run:
    workflows: ["Check certificates"]
    types:
      - completed

env:
  GITHUB_TOKEN: ${{ github.token }}

jobs:
  comment:
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write
      actions: read

    steps:
      - name: Download test results
        uses: dawidd6/action-download-artifact@v6
        with:
          workflow: main.yml
          name: test-results 
          path: ./test-results
          allow_forks: true
          workflow_conclusion: success

      - name: Read results
        id: read
        run: |
          {
            echo "RESULT<<EOF"
            cat test-results/results.txt
            echo "EOF"
          } >> $GITHUB_ENV

      - name: Find PR number
        id: find_pr
        uses: actions/github-script@v7
        with:
          script: |
            const headRepoFull = context.payload.workflow_run.head_repository.full_name;
            const [headOwner] = headRepoFull.split("/");
            const branch = context.payload.workflow_run.head_branch;

            const prs = await github.rest.pulls.list({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: "open",
              head: `${headOwner}:${branch}`
            });

            if (prs.data.length === 0) {
              core.setFailed(`No PR found for ${headOwner}:${branch}`);
              return;
            }

            core.setOutput("pr_number", prs.data[0].number);

      - name: Post PR comment
        uses: actions/github-script@v7
        with:
          script: |
            const prNumber = ${{ steps.find_pr.outputs.pr_number }};

            const body = process.env.RESULT;

            await github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: prNumber,
              body
            });
