name: Keepalive

on:
  schedule:
    - cron: "0 3 * * 0"

jobs:
  keepalive:
    runs-on: ubuntu-latest
    steps:
      - name: Keep repository active
        uses: gautamkrishnar/keepalive-workflow@v1
